.GamelistItem{
    display: inline;
}
@font-face {
	font-family: 'MyFont';
	src: url(../../fonts/Japanese_3017.ttf);
}

.wrapper{
    display: flex;
    justify-content: center;
    text-align: center;
    background: url(../../assets/BG.jpg);
    background-size: cover;
    min-height: 90vh;
}

.gamelist{
    font-family: 'MyFont';
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#111;
	color: white;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 20px;
    width: 60vw;
    height: auto;
    margin-top: 100px; 
    position: absolute;
}

.gamelist_header {
    display: flex;
    justify-content:space-around;
    background: rgb(202, 52, 35);
    width: 100%;

}

.game_button{
    background: rgb(202, 52, 35);
}

.game_string{
    background: rgb(202, 52, 35);
}
.admin_create_game{
    background: rgb(202, 52, 35);
}

.admin_form_input{
    background: rgb(202, 52, 35); 
}
