.wrapper{
	min-height: 10vh;
	display:flex;
	flex-direction: column;
	background-color: #5b2e82;
}

.header_body{
	background-color: #111;
	color: white;
	flex: 1 1 auto;
	display: flex;
	text-align:center;
	justify-content: center;
	border-radius: 0 0 30px 30px;
}

.title{
	font-size: 50px;
	margin: 20px;
}

.header_nav{
	margin: 0 0 0 auto;
	font-size: 20px;
	display:flex;
}

.nav_item{
	margin: 0 0 0 auto;
	font-size: 20px;
	display:flex;
	max-width: 600px;
	max-height: 100px;
	text-align: center;
}

.nav_button{
	display: inline-block;
	vertical-align: center;
	text-align: center;
	max-width: 150px;
	margin: 20px 0px 10px 1px;
	background-color: #5b2e82;
	color: white;
	border: 1px solid grey;
	padding: 20px;
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;
}

.nav_button_first{
	border-radius: 10px 0 0 10px;
	display: inline-block;
	vertical-align: center;
	text-align: center;
	max-width: 150px;
	margin: 20px 0px 10px 1px;
	background-color: #5b2e82;
	color: white;
	border: 1px solid grey;
	padding: 20px;
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;
}

.nav_button_last{
	border-radius: 0 10px 10px 0;
	display: inline-block;
	vertical-align: center;
	text-align: center;
	max-width: 150px;
	margin: 20px 20px 10px 1px;
	background-color: #5b2e82;
	color: white;
	border: 1px solid grey;
	padding: 20px;
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;
}


 .logo{
	width: 100px;
	height: 100px;
 }
 \\\
 .button:hover {
	background-color: #111;
	color: white;
 }

 .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
