
@font-face {
	font-family: 'MyFont';
	src: url(../../fonts/Japanese_3017.ttf);
}


.wrapper{
	font-family: 'MyFont';
	min-height: 10vh;
	display:flex;
	flex-direction: column;
	background: url(../../assets/BG.jpg);
    background-size: cover;
}

.header_body{
	background-color: #111;
	color: white;
	flex: 1 1 auto;
	display: flex;
	text-align:center;
	justify-content: center;
	border-radius: 0 0 30px 30px;
}

.title{
	font-size: 3.125em;
	margin: 20px;
}

.header_nav{
	margin: 0 0 0 auto;
	font-size: 20px;
	display:flex;
}


.nav_item{
	margin: 0 0 0 auto;
	font-size: 20px;
	display:flex;
	max-width: 10vw;
	max-height: 10vh;
	text-align: center;
}

.nav_button{
	display: inline-block;
	vertical-align: center;
	text-align: center;
	max-width: 10vw;
	margin: 20px 0px 10px 1px;
	background: rgb(202, 52, 35);
	color: black;
	border: 1px solid grey;
	padding: 20px;
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;
}

.nav_button_first{
	border-radius: 10px 0 0 10px;
	display: inline-block;
	vertical-align: center;
	text-align: center;
	max-width: 6vw;
	margin: 20px 0px 10px 1px;
	background: rgb(202, 52, 35);
	color: black;
	border: 1px solid grey;
	padding: 20px;
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;
}

.nav_button_last{
	border-radius: 0 10px 10px 0;
	display: inline-block;
	vertical-align: center;
	text-align: center;
	max-width: 6vw;
	margin: 20px 20px 10px 1px;
	background: rgb(202, 52, 35);
	color: black;
	border: 1px solid grey;
	padding: 20px;
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;
}


 .logo{
	max-width: 10vw;;
	max-height: 10vh;
 }

.logo img{
	width:100%;
	max-width: 100%;
}
 