.wrapper{
	flex-direction: column;
	background-color: #5b2e82;
}

.footer{
	width:100%;
	min-height: 10vh;
	background-color: #111;
	border-radius: 30px 30px 0 0;
	padding: 20px 0 20px 0;
	display: flex;
	color: white;
	margin: 0 auto;
	flex: 1 1 auto;
	justify-content: center;
	font-size: 14px;
}

