
@font-face {
	font-family: 'MyFont';
	src: url(../../fonts/Japanese_3017.ttf);
}


.wrapper{
    display: flex;
    justify-content: space-around;
    background: url(../../assets/BG.jpg);
    background-size: cover;
    min-height: 90vh;
}


.organizer {
    font-family: 'MyFont';
    display: flex;
    flex-direction: column;
    font-size: 16px;
    align-items: center;
    background-color:#111;
	color: white;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 20px;
    width: 36vw;
    height: 65vh;
    margin: 100px 10px 10px 10px; 
    position: absolute;
}

.form {
    margin: 10px 40px 10px 10px;
}

.input_string{
    font-family: 'MyFont';
    background: rgb(202, 52, 35);
    border-radius: 20px;
    border: 0;
    box-sizing: border-box;
	margin: 0px 20px 20px 10px;
    color: black;
    font-size: 18px;
    height: 50px;
    outline: 0;
    padding: 4px 20px ;
    width: 100%;
}

.input_button{
    font-family: 'MyFont';
    background: rgb(202, 52, 35);
    border-radius: 20px;
    border: 0;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin: 80px 1% 0;
    width: 48%;
    text-align: center;
}

.error{
    color:red;
    margin-left:20px;
}
